spring:
  ai:
    openai:
      base-url: http://127.0.0.1:1337
      api-key: COLOQUE_SUA_CHAVE_AQUI
      chat:
        options:
          model: Jan-code-4b-Q4_K_XL
          temperature: 0.2
  http:
    client:
      connect-timeout: 10s
      read-timeout: 5m